* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../images/so-white.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-size: 1em; 
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
}

.header-content {
    width: 960px;
    margin: 0 auto;
}

nav {
    float: right;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover, .btn:hover {
    color: black;
}

nav a {
    border-right: 1px solid #777777; 
    padding: 0 1em;
    position: relative;
    top: 35px;
}

nav a:last-child {
    border-right: none;
    padding-right: 0px;
}

section {
    width: 960px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 0 auto;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.avatar-image {
    float: left;
    margin-right: 25px;
    width: 200px;
    height: 200px;
}

p {
    line-height: 2em;
}

.main-content {
    padding-top: 25px;
}

.main-content::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    padding-top: 20px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: #c0c0c0;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    padding: 28px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    float: left;
    font-size: 2em;
}

h1, h2, h3 {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

h2 {
    border-bottom: 2px solid #cccccc;
    padding: 1em 0;
    color: #4aaaa5;
    font-size: 1.5em;
}

h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.3em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-box {
    position: relative;
    width: 270px;
    height: 200px;
    display: inline-block;
    margin-right: 27px;
    margin-bottom: 33px;  
}

.project-title {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.project-link {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
}

.form-input {
    display: block;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
}

#msg {
    height: 150px;
    resize: vertical;
}

.btn {
    padding: 10px 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    font-size: 1em;
}